* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: serif;
    font-size: 20px;
}

.logo {
    display: block;
    margin-left: auto;
    margin-right: auto;
    max-width: 3.5em;
    margin-top: 1em;    
}

.welkomfoto {
    padding: 1em;
    margin: 0.5em auto 0 auto;
    border-radius: 2em;
    max-width: 19em;
}

main a {
    display: block;
    text-decoration: none;
    background-color: #A48969;
    color: white;
    text-align: center;
    border-radius: 0.5em;
    margin: 3em 1em 0em 1em;
    padding: 1.5em 0em 1.5em 0em;
    box-shadow: -0.4em 0.4em 8px #878787;  
}

h1 {
    text-align: center;
    margin-top: 0.6em;
    font-size: 50px;
    color: #000;
}

body {
    background-image: url("../patroonachtergrond.png");
    background-size: cover;
}

.icon-bar {
    position: fixed;
    bottom: 0;
    width: 100vw; /* Full-width */
    background-color: #A48969;
    overflow: auto; /* Overflow due to float */
}
  
.icon-bar a {
    float: left; /* Float links side by side */
    text-align: center; /* Center-align text */
    width: 25%; /* Equal width (5 icons with 20% width each = 100%) */
    padding: 12px 0; /* Some top and bottom padding */
    transition: all 0.3s ease; /* Add transition for hover effects */
    color: white; /* White text color */
}
  
.icon-bar a:hover {
    background-color: #000; /* Add a hover color */
}
  
.icon-bar a img {
    max-height: 2em;
}

.active {
    background-color: wheat; /* Add an active/current color */
}

iframe {
    display: block;
    max-width: 75vw;
    max-height: 15em;
    margin: 1em auto 0 auto;
    border-radius: 0.5em;
}

h2 {
    margin-top: 1em;
    text-align: center;
    font-size: 30px;
    color: white;
}

p {
    text-align: center;
    color: white;
}

.toptekst {
    margin: 1em 0 1em 0;
    font-weight: bold;
}

.blok {
    background: #A48969;
    padding-bottom: 1em;
    border-radius: 0.5em;
    margin: 0 1em 0 1em;
}

footer {
    margin-top: 5em;
}

section img {
    max-height: 2.5em;
}




